{% extends '_base.html' %}

{% block page_title %}
    جزییات کتاب {{ book.title }}
{% endblock page_title %}


{% block content %}
    <h3>{{ book.title }}</h3>
    <p>{{ book.author }}</p>
    <p>{{ book.content|linebreaks }}</p>
    <h5>{{ book.price }}</h5>
    <br>
    <a class="btn btn-info" href="{% url 'book_update' book.id %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'book_delete' book.id %}">Delete</a>
    <a class="btn btn-link" href="{% url 'book_list' %}">Book List</a>
{% endblock content %}